<footer class="footer-copyright">
    <img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image"  class="fidget-spinner" /></a>
    Copyright 2021 - Stark Stearne Studios
</footer>

<!--use: <%- include('./partials/footer') %> -->
