<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&family=Teko:wght@300&display=swap" rel="stylesheet"> 

    
        

    </head>
    <body>
        <ul>
            <li>
                <% if (user) { %>
                    <a href="/logout">Log Out</a>
                    <% } else { %>
                    <a href="/auth/google">Login with Google To Start Posting!</a>
                    <% } %>
            </li>
            <li>
                
                    <a href="/posts">Main Page</a>
                    
            </li>
            <li>
                <% if (user) { %>
                    <a href="/user">My Profile</a>
                    <% } %>
            </li>
            <li>
                <% if (user) { %>
                    <a href="posts/new">Make a Post</a>
                    <% } %>
            </li>
        </ul>
               
        <h1>Welcome to Fidget!</h1>
        <h2>The side bar of the internet!</h2>
        <div id="nav">
        <% if (user) { %><br><br><br><br>
            <p>Welcome back <%= user.name %>!</p><br>
            <% } else { %><br><br><br><br>
            <a href="/auth/google" id="asklog">Login to create a post</a>
            <% } %>
        </div>

    </body>
</html>