<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&family=Teko:wght@300&display=swap" rel="stylesheet"> 

    </head>
    <body>
        <nav>
            <ul>
                <li><img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image" /></a></li>
                <li>
                    <% if (user) { %>
                        <a href="/logout">Log Out</a>
                        <% } else { %>
                        <a href="/auth/google">Login with Google</a>
                        <% } %>
                </li>
                <li>
                    <a href="/posts">Main</a>
                </li>
                <li>
                    <a href="posts/new">Make a Post</a>
                </li>
            </ul>
        </nav>
        
        <h1>Fidget User Page</h1>
        <h2> <%= user.name %> </h2>

        <% if (user.posts.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Posts</th>
                    </tr>
                </thead>
                <tbody>
                    <% user.posts.forEach(function(c) { %>
                        <tr>
                            <td><%= c.posts %></td>
                        </tr>
                   <% }); %>
                </tbody>
            </table>
       <% } else { %>
        <h4>No Posts Yet!</h4>
       <% } %>

        

    </body>
</html>