html{
  height: 100%;
}
body {
  height: 100%;
  background-image: linear-gradient(#fafafa, #0c54a0);
  background-attachment: fixed;
}

img{
  margin-left: 10px;
}

p{
  align-items: center;
}

h1{
  font-family: 'Roboto Mono', monospace;
  text-align:center;
  color: #0b140a;
}

h2{
  font-family: 'Teko', sans-serif;
  text-align:center;
  color: #0b140a;
}

h3{
  font-family: 'Roboto Mono', monospace;
  text-align:center;
  color: #0b140a;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  text-align:center;
  color: #0b140a;
}
p {
  font-family: 'Roboto Mono', monospace;
  text-align:center;
  color: #0b140a;
  font-weight: bolder;
}

#nav{
  text-align: center;
}

#navBottom{
  text-align: center;
  margin-top: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c54a0;
  border-radius: 1em;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #8dccfc;
}

table {
    border: 1px solid black;
    background-image: linear-gradient(#fafafa, #0c54a0);
    background-attachment:initial;
    color:rgb(255, 255, 255);
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 5px;
    border-radius: 5px;
    
}

th {
    border: 1px solid black;
    background-image: linear-gradient(#fafafa, #2a362c);
    background-attachment:initial;
    color:rgb(255, 255, 255);
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
}
td{
    border: 1px solid black;
    background-image: linear-gradient(#fafafa, #8dccfc);
    background-attachment:inherit;
    color:rgb(0, 0, 0);
    width: 75%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
   
    
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-image: linear-gradient(#fafafa, #8dccfc);
    background-attachment:initial;
  }
  
  ul.form {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    background-image: linear-gradient(#fafafa, #0c54a0);
    background-attachment:initial;
    
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-top: 5px;
  }
  
  input:focus,
  textarea:focus {   
    border-color: #000;
  }
  
  textarea { 
    vertical-align: top;
    height: 5em;
  }
  
  .center {
   text-align: center;
   margin-right: 12px;
  }


  a {
    border-bottom: 0px solid #453886;
    color: #453886;
    padding-bottom: .25em;
  }
  #asklog {
    font-weight: bolder;
    font-size: x-large;
    position: relative;
    vertical-align: center;
    animation: shift 1s linear infinite;
  }
  #asklog:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
  }

  button {
    background-color: brown;
    color: cornsilk;
  }

  .delete-form{
    margin-top: 5px;
    width: 90px;
    padding: 7px;
    border: 0px ;
    border-radius: 5px;
    background-image: linear-gradient(#fafafa, #0c54a0);
    
  }
