<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="#" />
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&family=Teko:wght@300&display=swap" rel="stylesheet"> 

        
    </head>


<body>

    <ul>
        <li><img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image"  class="fidget-spinner" /></a></li>
        <li>
            <% if (user) { %>
                <a href="/logout">Log Out</a>
                <% } else { %>
                <a href="/auth/google">Login with Google</a>
                <% } %>
        </li>
        <li>
            <% if (user) { %>
            <a href="/user">My Profile</a>
            <% } %>

        </li>
        <li>
            <a href="posts/new">Make a Post</a>
        </li>
    </ul>

    <h1>Welcome to Fidget!</h1>
    <h2>The side bar of the internet!</h2>
    

    <table>
        <thead>
            <th>Posts</th>
            
        </thead>
        <tbody>
            <% posts.forEach(function(post){ %>
              <tr>
                <td><%= post.title %>
                  
                  <a href='/posts/<%= post._id %>'>See More!</a>
                  
                    
                </td>
              </tr>
              
            <% }) %>
        </tbody>
    </table>
    <p><img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image"  class="fidget-spinner" /></p>
    </body>
</html>