<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create a Post</title>
    

    
</head>
<body>
     
    <h1>Welcome to Tidder!</h1>
    <h2>The side bar of the internet!</h2>

<form id="new-form" action="/show" method="POST">
    <ul>
        <li>
            <label>Post Title:</label>
            <input type="text" name="title">
        </li>
        <li>
            <label>Post Content:</label>
            <textarea id="post" name="userPost"></textarea>
        </li>
        <div class="container">
            <div class="center">
            <input type="submit" value="Send to Tidder!">
            </div>
        </div>
    </ul>
  </form>
  
  <br><a href="/show">Just take me to the posts instead!</a>


</body>
</html>