<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
</head>
<body>
     
    <h1>Welcome to Tidder!</h1>
    <h2>The side bar of the internet!</h2>

<!-- Code for form submit -->
<form id="new-form" action="/show" method="POST">
    <label>Post Content:</label>
    <input type="text" name="content">
    <input type="submit" value="Send to Tidder!">
  </form>
  

NEW.EJS

</body>
</html>