<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono:wght@100&family=Teko:wght@300&display=swap" rel="stylesheet"> 
    <title>Create a Post</title>
    

    
</head>
<body>
    <ul>
        <li><img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image" /></a></li>
        <li>
            <a href="/posts">Main</a>
        </li>
        <li>
            <a href="/user">My Profile</a>
        </li>
       
        
    </ul>
     
    <h1>Welcome to Fidget!</h1>
    <h2>The side bar of the internet!</h2>

<form id="new-form" action="/posts" method="POST">
    <ul class="form">
        <li>
            <label>Post Title:</label>
            <input type="text" name="title">
        </li>
        <li>
            <label>Post Content:</label>
            <textarea id="post" name="content"></textarea>
        </li>
        <div class="container">
            <div class="center">
            <input type="submit" value="Post to Fidget!">
            </div>
    </ul>
  </form>
    



</body>
</html>