<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="#" />
    </head>
    SHOW.EJS

<body>

    
    <h1>Welcome to Tidder!</h1>
    <h2>The side bar of the internet!</h2>
    <% if (user) { %>
        <a href="posts/new">Create</a>
        <% } else { %>
        <a href="/auth/google">Login to create a post</a>
        <% } %>


<section id="show-page">
    <div>Post: </div>
    <table>
        <thead>
            <th>Title</th>
            <th>Content</th>
        </thead>
        <tbody>
            <% posts.forEach(post => { %> 
              <tr>
                  <td><%= post.title %></td>
                  <td><%= post.content %></td>
                  
              </tr>
            <% }) %>
        </tbody>
    </table>

    </body>
</html>